.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 20rem;

    button {
        width: 15rem;
    }

    &-field {
        width: 20rem;
        display: flex;
        justify-content: space-evenly;

        label {
            padding: 0.5rem;
            width: 15rem;
            display: flex;
        }

        input{
            padding: 0.5rem;
            font-size: 1rem;
            width: 15rem;
        }
    }
    
    a {
        font-size: 0.75rem;
        width: 15rem;
        text-align: right;
    }

    button {
        margin: 1rem 0;
    }

}