.meeting-card {
    background-color: var(--light-blue);
    color: var(--blue);
    display: flex;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    gap: 1.25rem;

    .meeting-info {
        text-align: left;
        width: 55%;
    }

    .meeting-time, .meeting-info, .meeting-date {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .meeting-edit {
        display: flex;

        .edit-btn {
            padding: 0.25rem;
            margin: auto;
            background-color: var(--light-blue);
            color: var(--blue);
            font-size: 1.1rem;
            opacity: 50%;

            &:hover {
                opacity: 100%;
            }
        }
    }
}

.past-meeting {
    pointer-events: none;
    background-color: var(--light-grey);
    color: var(--grey);
    margin-left: 0;
}