.booking-form {
    margin: 1rem;

    &-field {
        width: 15rem;
        display: flex;
        flex-direction: column;
        text-align: left;

        .select, input{
            margin: 0.65rem 0;
            padding: 0.3rem;
        }
        
        input{
            width: 15rem;
            padding: 0.5rem;
            font-size: 1rem;
        }
    }
    button {
        margin-top: 1rem;
        width: 10rem;
    }
}

.booking-form-field{
    .notes {
        input {
            height: 5rem;
        }
    }
}
