.booking-form {
    margin: 1rem;

    &-field {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;

        .select, input{
            margin: 0.5rem 0;
        }
        
        input{
            width: 20rem;
            padding: 0.5rem;
            font-size: 1rem;
        }
    }
}