header {
    background-color: rgb(243, 242, 242);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        width: 80vw;
        margin: auto;
    }

}